extends skeleton
block css
  link(rel="stylesheet",href="home.css")
  script(src="https://kryogenix.org/code/browser/sorttable/sorttable.js")
block breadcrumbs
block content
  .hero
    .grid-row
      .column-two-thirds
        .fortune-outer
          h1.heading-xlarge Jaffa Cake Ballototron
          if fortune
            p.font-small.fortune #{String(fortune).replace(/--/g,'—')}
          else
            p.font-small.fortune Hello
      .column-one-third.black-nav.data
        .data-item.bold-xlarge 34
        .data-item.bold-xsmall votes cast
  .grid-row
      h2.heading-large Voting
      p.heading-medium Which sample do you wish to rate next?
      table.sortable.column-two-thirds
        thead
          th Sample
          th.numeric Sponge
          th.numeric Orange
          th.numeric Chocolate
          th.numeric Overall
        tbody
          for sample in samples
            tr
              if Math.random() > 0.5
                td: a(href="/sample/"+sample.sampleIdentifier).samplelink= sample.sampleIdentifier
                td(colspan="7").pending
                  span Waiting for you to&nbsp;
                  a(href="/sample/"+sample.sampleIdentifier) record results for sample #{sample.sampleIdentifier}
              else
                td: a(href="/sample/"+sample.sampleIdentifier).samplelink= sample.sampleIdentifier
                td.numeric= Math.floor(Math.random()*100)
                td.numeric= Math.floor(Math.random()*100)
                td.numeric= Math.floor(Math.random()*100)
                td.numeric= Math.floor(Math.random()*100)
  .grid-row
    h3.heading-small Results
    p.font-small
      span You can amend your scores above. When you have finished entering scores, you may:
      form: input(type="button",value="Lock in answers and view results").button
