extends skeleton
block css
    link(rel="stylesheet",href="/index.css")
block breadcrumb
    li Samples
    li #{sample.sampleIdentifier}
block content
    h1.heading-large Sample #{sample.sampleIdentifier}
    form.column-two-thirds(method="POST")
        fieldset
            legend
                h2.heading-medium How do you rate sample #{sample.sampleIdentifier}'s...
            table
                tr
                    th Pastry
                    td
                        input.form-control.form-control-1-8(required, type="number", min="0", max="100", maxlength="3", size="3", name="pastry", value=prev.pastry)
                        span &nbsp; out of 100
                tr
                    td Filling
                    td
                        input.form-control.form-control-1-8(required, type="number", min="0", max="100",maxlength="3",  size="3", name="filling", value=prev.filling)
                        span &nbsp; out of 100
                tr
                    td.heading-small Overall score
                    td
                        input.form-control.form-control-1-8(required, type="number", min="0", max="100",maxlength="3",  size="3", name="overall", value=prev.overall)
                        span &nbsp; out of 100
        fieldset
            legend
                h2.heading-medium How much would you pay for #{sample.numberPerPack} of sample #{sample.sampleIdentifier}?
            span.font-medium £
            input(type="number", step="0.01", min="0", max="10", name="price", placeholder="6.99",value=prev.price).form-control-1-4.form-control
        fieldset.inline
            legend
                h2.heading-medium Would you buy sample #{sample.sampleIdentifier}?
            .multiple-choice
                input(type="radio", value="true", required, name="wouldBuy").formcontrol#buyYes
                label(for="buyYes") Yes
            .multiple-choice
                input(type="radio", value="false", required, name="wouldBuy").formcontrol#buyNo
                label(for="buyNo") No

        fieldset
            legend
                h2.heading-medium Is there anything you wish to say?
            label.form-label(for="comment")
                span Comments about sample #{sample.sampleIdentifier}
                span.form-hint (optional)
            textarea.form-control(name="comment",)#comment= prev.comment

        p &nbsp;


        input.font-mediumm.button(type="submit",value="Submit scores for Sample " + sample.sampleIdentifier)
        p: a(href="/").link-back Back to sample list
    .column-one-third
        ol.list-bullet
        if sample.isVegan === true
            li This sample is suitable for vegans.
        if sample.isVegetarian === true
            li This sample is suitable for vegetarians.
        if sample.isVegetarian === false
            li This sample is explicitly not suitable for vegetarians.
        if sample.hasAlcohol === true
            li This sample contains alcohol.