extends skel2
block conten
    h2.heading-large Voting
    p Please select the sample you wish to score next.
    table
        thead
            tr
                th №
                th Pastry
                th Mincemeat
                th Overall
                th Price
                th Buy?
                th
                th
        tbody
            - var unscored = []
            for sample in samples
                tr
                    td.font-large= sample.sampleIdentifier
                    if !scores[sample.sampleIdentifier]
                        - unscored.push(sample.sampleIdentifier)
                        td(colspan="5").center.text-secondary (You haven't scored sample #{sample.sampleIdentifier} yet)
                    else
                        - var score = scores[sample.sampleIdentifier]
                        td.numeric.font-medium= score.pastry
                        td.numeric.font-medium= score.filling
                        td.numeric.font-medium= score.overall
                        td.numeric.font-medium= score.price.toLocaleString('en-GB', {style: 'currency', currency: 'GBP', minimumFractionDigits: 2})
                        if score.wouldBuy === 'true'
                            td.font-medium Yes
                        else
                            td.font-medium No
                    td
                        a(href='/vote/'+sample.sampleIdentifier).button Score sample #{sample.sampleIdentifier}
                    td.font-xsmall
                        if sample.isVegan === true
                            abbr(title="Suitable for vegans") Vegan
                        else if sample.isVegetarian === true
                            abbr(title="Suitable for vegetarians") Vegetarian
                        else if sample.isVegetarian === false
                            abbr(title="Not suitable for vegetarians") Non-veg.
                        br
                        if sample.hasAlcohol
                            abbr(title="Contains alcohol") Alcoholic

    p You have #{unscored.length} samples left to score.
    - randomSample = unscored[Math.floor(Math.random() * unscored.length)]
    p
        span You could try&nbsp;
        a(href='/vote/'+randomSample) sample #{randomSample}
        span &nbsp;next.
    form(action='/lockout', method='POST')
        input(type='submit',value='Lock in my answers and view the results').button