extends skeleton
block css
  link(rel="stylesheet",href="/index.css")
  script(src="https://kryogenix.org/code/browser/sorttable/sorttable.js")
block breadcrumbs
block content
  .grid-row
    h1.heading-xlarge Results
    p The table headings are sortable. Feel free to&nbsp;
        a(href='/results.csv') download raw scores as CSV
        span &nbsp; and make some pretty graphs.
    table.sortable
      thead
        tr
          th Identifier
          th Brand
          th Your sponge score
          th Your orange score
          th Your chocolate score
          th Your overall score
          th Average sponge score
          th Average orange score
          th Average chocolate score
          th Average overall score
          th Average perceived price
          th Actual price
      tbody
        for sample in samples
          if aggrScores[sample.sampleIdentifier]
            tr
              td: a(href="/sample/" + sample.sampleIdentifier + "/info").samplelink= sample.sampleIdentifier
              td= sample.brand
              if userScores[sample.sampleIdentifier]
                td.numeric= userScores[sample.sampleIdentifier].sponge
                td.numeric= userScores[sample.sampleIdentifier].orange
                td.numeric= userScores[sample.sampleIdentifier].chocolate
                td.numeric= userScores[sample.sampleIdentifier].overall
              else
                td.numeric &ndash;
                td.numeric &ndash;
                td.numeric &ndash;
                td.numeric &ndash;
              td.numeric= Math.round(aggrScores[sample.sampleIdentifier].sponge)
              td.numeric= Math.round(aggrScores[sample.sampleIdentifier].orange)
              td.numeric= Math.round(aggrScores[sample.sampleIdentifier].chocolate)
              td.numeric= Math.round(aggrScores[sample.sampleIdentifier].overall)
              td.numeric= '£' + ((aggrScores[sample.sampleIdentifier].price / sample.pricePer)*12).toFixed(2)
              td.numeric= '£' + ((sample.price / sample.pricePer) * 12).toFixed(2)


